@model IQueryable<ServiceItem>
<!--
@if (Model.Any())
{
<section>
    <h2>Наши услуги</h2>
    <ul class="small-image-list">
        @foreach (ServiceItem item in Model)
        {
            <li>
                <a asp-area="" asp-controller="Services" asp-action="Index" asp-route-id="@item.Id">
                    <img src="~/img/@item.TitleImagePath" class="left" />
                </a>
                <h4>@item.Title</h4>
            </li>
        }
    </ul>
</section>
}
-->
